[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "survivalSL"]
	path = survivalSL
	url = https://github.com/foucher-y/survivalsl
